h1 {
  color: #11698e;
  text-align: center;
  font-weight: 800;
  margin-bottom: 20px;
}

.fa-search-location {
  font-size: 30px;
}

.btn {
  font-size: 16px;
  padding: 6px;
}

.col-1 {
  padding: 2px 10px;
}

.col-4 {
  padding: 0px 10px;
}

.card {
  height: 100%;
  max-width: 540px;
  text-transform: capitalize;
  margin-top: 10px;
}

h5 {
  font-weight: 600;
  font-size: 26px;
  text-align: center;
}

.card-text {
  margin-left: 15px;
}

.temp {
  font-size: 40px;
  font-weight: 500;
}

.units {
  position: relative;
  top: -17px;
}

.open-source {
  margin-top: 10px;
}
